* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('signupback.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(100px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-right: 40px;
    padding-left: 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .fa {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
}

<<<<<<< HEAD
.input-box .fa.fa-user
 {
=======
.input-box .fa.fa-user {
>>>>>>> 5ae82c333951c542368ee51d97c34a2a9bcab1c7
    right: 20px;
}

.input-box .fa.fa-eye,
.input-box .fa.fa-eye-slash {
    cursor: pointer;
}

<<<<<<< HEAD


=======
>>>>>>> 5ae82c333951c542368ee51d97c34a2a9bcab1c7
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.login-link p {
    color: #fff;
}

.login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
